html, body {
    margin: 0px;
}

header {
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-around;
    height: 6vh;
    align-items: center;
    
}

header > * { /* Children of header flex-box */
    /* border: 1px solid white; */
    padding-left: 5px;
    padding-right: 5px;
}

button {
    border-color: orange;
    background-color: black;
    color: orange;
}

.search-bar > * {
    border-radius: 10%;
}

nav { /* navbar */
    margin-right: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li { /* navbar components (i.e, home, login, etc) */
    display: inline;
    padding-left: 5px;
}

.Login-Main-Page {
    display: flex;
    justify-content: center;
    align-items: top;
    padding-top: 6vh;
    height: 94vh;
}

/*.login-form {
     "COME BACK & REPLACE <br>"flex-direction: column;
    flex-wrap: wrap; 
}*/

.login-form > div { /* Login Text Element */
    text-align: center;
}

/*.login-form > * {
    flex-basis: 100%;
}*/

.login-form > button {
    background-color: blue;
    color: white;
    border-color: white;
    border-radius: 10%;    
}

